{% if page_obj.paginator.num_pages > 1 %}
<nav class="pagination" aria-label="Pagination">
    {% if page_obj.has_previous %}
        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
    {% else %}
        <span class="disabled"><i class="fa-solid fa-chevron-left"></i></span>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <span class="current">{{ num }}</span>
        {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
    {% else %}
        <span class="disabled"><i class="fa-solid fa-chevron-right"></i></span>
    {% endif %}
</nav>
{% endif %}
